{% extends "base.html.twig" %}
{% block body %}
<h1>Toutes les annnonces : </h1>
    {% for advert in adverts %}
        <div>
            <h2> {{ loop.index }} / {{ advert.title }} - {{ advert.category }}</h2>
            <p>{{ advert.price }}</p>
             <p>{{ advert.description }}</p>
              <p>{{ advert.brand }}</p>
               <p>{{ advert.useCondition }}</p>
                 <p>{{ advert.owner.firstname }} {{ advert.owner.lastname }} - {{ advert.owner.pseudo }} - {{ advert.owner.mobilePhone }} - {{ advert.owner.email }} - {{ advert.owner.postalCode }} - {{ advert.owner.photo.url}}</p>
            {# Lien vers la fiche de l'annonce : #}
            <a href="{{ path("advert_show", {id: advert.id}) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune annnonce correspondante à votre recherche trouvée.
    {% endfor %}

    <a href="{{ path('home_index') }}">
        <p>Retour à la page d'accueil</p>
{% endblock %}