{% extends "base.html.twig" %}
{% block body %}
<h1>Toutes les annnonces : </h1>
    {% for advert in adverts %}
        <div>
            <h2> {{ loop.index }} / {{ advert.title }}</h2>
            <p>Catégorie : {{ advert.category }}
            <p>Prix : {{ advert.price }}</p>
             <p>Description : {{ advert.description }}</p>
              <p>Marque : {{ advert.brand }}</p>
               <p>État : {{ advert.useCondition }}</p>
                 <p>Prénom : {{ advert.owner.firstname }}
                 <p>Nom : {{ advert.owner.lastname }}</p>
                 <p>Pseudo : {{ advert.owner.pseudo }}</p>
                 <p>Mobile : {{ advert.owner.mobilePhone }}</p>
                 <p>Email :  {{ advert.owner.email }}</p>
                 <p>Code postal : {{ advert.owner.postalCode }}</p>
                  <div class="col-12">
                 <img class="img-fluid rounded" src="{{ advert.owner.photo.url }}">
             </div>
            {# Lien vers la fiche de l'annonce : #}
            <a href="{{ path("advert_show", {id: advert.id}) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune annnonce correspondante à votre recherche trouvée.
    {% endfor %}

    <a href="{{ path('home_index') }}">
        <p>Retour à la page d'accueil</p>
{% endblock %}