{% extends 'base.html.twig' %}

{% block title %}Hello Annonces!{% endblock %}

{% block body %}
<main class = "container-fluid border">
    <div class ="row">
      <div class= "col-8">
        <img src="/build/images/{{ photos }}" class="rounded float-start  col-xs-12" width="500" height="400" alt="Image-Article">
      </div>
      <div class="card-body col-4 border bg-bluecard">
        <section class= "container-fluid" width="353" height="323">
          <div class= "row">
            <div class= "col-6">
                <img src= "/build/images/Profil.jpg" class="thumbnail rounded mx-auto d-block" width="64" height="64" alt="img-profile">
            </div>
            <div class= "col-6 text-black">
              <p> Francise Duchaine </p>
              <cite>
                <p> 10 annonces </p>
              </cite>
          </div>
          <div class="row">
            <div class="col-8 text-black">
              <p>Notation 3,9/5</p>
            </div>
            <div class="col-4 text-black">
              <p> (423)</p>
            </div>
          </div>
          <div class="row">
              <button type="button" class=" col btn border btn-danger text-black">Voir son profil</button>
          </div>
            <div class= "container">
                <div class= "row">
                  <div class= "col-12 text-black">
                      <p>
                    Mail en journée pour plus de rapidité
                         ou sms sinon sans problèmes </p>
                  </div>
                <HR>
                </div>
            </div>
                <div class= "row">
                    <button type="button" class="col-6 border btn btn-white text-black">Acheter</button>
                    <button type="button" class="col-6 border btn btn-white text-black">Message</button>
                </div>
              </div>
        </section>
      </div>
      <section class="container-fluid text-black">
        <div class="row">
          <div class="col-12">
            <h2>{{ titre }} d'{{ etat }} </h2>
            <cite> Prix: {{ prix }} € </cite>
          </div>
          <div class="col-6">
            <p>Annonce parue le 02/12/2021 14:36</p>
          </div>
          <div class="col-6">
            <p>Dernière mise à jour le 02/01/2022 12:30</p>
          </div>
          <hr>
          <br><br>
          <br><br>
          <hr>
          <div class="col-6">
            <p>Marque: {{ marque }}</p>
          </div>
          <div class="col-6">
            <p>Modèle: {{ modele }}</p>
          </div>
          <div class="col-12">
            <p></p>
          </div>
          <div class="col-6">
            <p>58 visites</p>
          </div>
          <div class="col-12">
            <p>Description: {{ description }}</p>
          </div>
          <hr>
          <div class="col-12">
            <p>Critères</p>
            <cite>Etat</cite>
            <p>Très bon états</p>
          </div>
          <hr>
          <div class="col-6">
            <button type="button" class="col-6 border btn btn-light text-black">Signaler un abus</button>
          </div>
        </div>
    </div>
  <section>
</main>
{% endblock %}